*{
  margin: 0;
  padding: 0;
  font-family: Gabriela;
}
@font-face{
  font-family: Gabriela;
  src: url(src/font-family/gabriela/Gabriela-Regular.ttf);
}
/*buttons*/
.all-buttons{
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #f4c119;
  border: #f4c119;
  border-radius: 15px;
  color:white;
  padding: 15px 32px;
  font-weight: 600;
  border: 1px solid #fff;
  transition: all 0.1s;
}
.all-buttons:hover{
  background-color: #fff;
  color: #f4c119;
  border-color: #f4c119;
  border: 1px solid #f4c119;
  font-weight: 600;
}
/*links*/
a{
  text-decoration: none;
  color: #777!important;
}
/*links*/
/*buttons*/
/*navigation*/
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar-brand img{
  height: 50px;
  padding-left: 20px;
}

.logo{
  font-family: Gabriela;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #555!important;
}
.logo:hover{
  color:#f4c119!important;
}
.logo img{
  height: 40px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  float: right;
  text-align: left;
}

.navbar{
  background: #fff;
}

.navbar-toggler{
  border: none!important;
}

.nav-link{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid white;
}
.nav-link:hover{
  border-bottom: 1px solid #f4c119;
  color: #f4c119!important;
}
/*navigation*/

/*slider*/
#slider{
  width: 100%;
  background: url(src/kinder-slide-1.jpg);
  transition: 0.5ms;
}
.carousel-caption{
  bottom: initial!important;
}
.carousel-caption h5{
  color: #069eed;
  font-weight: 700;
  font-size: 30px;
}
.carousel-caption h6{
  color: #069eed;
  font-weight: 500;
  font-size: 20px;
}
.carousel-item img{
  height: 500px;
}
/*slider*/

/*about*/
#about{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #555;
}
.about-content{
  padding-top: 20px;
}
/*about*/

/*services*/
#services{
  background-image: url(src/texture_2.webp);
  background-color: #f4c119;
  color: white!important;
  background-attachment: fixed;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#services h2{
  text-align: center;
  padding-bottom: 10px;
}
#services h3::after{
  content: '';
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
/*services*/


/*contacts*/
#contact{
  background-color: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
}
#contact h3{
  text-align: center;
}
.follow{
  background: #fff;
  padding: 10px;
  margin: 15px;
  margin-bottom: 0px;
}
.my-map{
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.hint-map, .balloon-map{
  color: #f4c119;
  font-weight: bold;
}

/*contacts*/

/* for mpbile*/
@media screen and (max-device-width: 767px){
  .my-map{
    width: 100%;
    height: 300px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-image{
    visibility: hidden;
    height: 0px;
    width: 0px;
  }
  .carousel-item img{
    height: 300px;
  }
  .logo{
    font-size: 14px;
  }
  .logo img{
    padding-left: 0px;
  }
}
@media screen and (max-device-width: 400px){
  .carousel-item img{
    height: 150px;
  }
}
/* for mobile*/